.todo-item {
    padding: 10px 10px;
    min-height: 30px;
    line-height: 30px;
    display: flex;
    justify-content: space-between;
    border: 1px solid #ddd;
    border-radius: 5px;
    margin-bottom: 10px;
    font-size: 10px;

  }

  .todo-complete {
    text-decoration: line-through;
  }
  
  .todo-checkbox {
    flex-shrink: 0;
    margin: auto 1ex auto 0;
  }
  
  .todo-title {
    flex-grow: 1;
    padding-left: 11px;
    font-size: 20px;
  }